.App {
  text-align: center;
}

main {
	width: 2500px;
  height: 2800px;
	margin: 0px auto;
	overflow: hidden;
}

.App-logo {
  height: 40vmin;
  width: 75vmax;
 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  min-width: 158vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spinf {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul li:hover {
  
  background: #04AA6D;
}

li {
  float: left;
}

li  .nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li  .nav-link-About {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float:right;
}


li .nav-link .nav-link-About :hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

li ul {
  display:none;
  position:absolute;
  min-width:140px;
 
}

li ul:hover {
  display:none;
  position:absolute;
  min-width:140px;
  background: #04AA6D;
}


li ul li {
  position:relative;
}

 li ul li ul {
  right:-140px;
  top:0px;
}

li:hover > ul {
  display:block;
  
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td th  {
  background: #bd714b;
  border: 1px solid #b2a6c7;
  
  text-align: left;
  padding: 8px;
}

.table tr th {
  background: #1d1b1a;
  color: aliceblue;
}


tr:nth-child(odd) {
  background: rgb(83, 218, 223);
}

tr:nth-child(even) {
  background-color: #e6e7f3;
}


/* Fromulario*/
@media(min-width: 768px) {
  .contenedor-campos {
    display: grid;
    /** para definir las areas de la columnas **/
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 10rem;
    column-gap: 1rem;
  }
    
  /** el tercer hijo con la misma clase campo que es = campo correo **/
    
  
  

  .campo {
    margin-bottom: 1rem;
  }
  

  .campo label {
    color: white;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
  }
}

.contenedor-campos {
  
  /** para definir las areas de la columnas **/
  grid-template-columns: 50% 50%;
  grid-template-rows:auto auto 5rem;
  column-gap: 1rem;
}
  
/** el tercer hijo con la misma clase campo que es = campo correo **/
.campo:nth-child(2), .campo:nth-child(4), .campo:nth-child(6), .campo:nth-child(8), .campo:nth-child(10) {
  grid-column: 3 / 2;
  /** posicionamiento de las columnas grid **/
  /**grid-row:  3 / 4; opcion para las filas opcional **/
}

.campo:nth-child(1){
  grid-column: 1 / 2;
}

.campo {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: .5rem;
}

.campo label {
  color: white;
  font-weight: bold;
  margin-bottom: .5rem;
  display: block;
}

button {
  margin-top: 15rem;
  width: auto;
  background-color: #04AA6D;
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: .5rem;
  width: 90%;
  text-align: center;
  border: none;
}

button:hover{
  background-color: #1161ee;
}

/*login*/
.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(hospi.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(19, 20, 19, 0.24),0 17px 50px 0 rgba(22, 22, 22, 0.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(160, 165, 179, 0.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}


























































































